html,body {
    height:100%;
    width:100%;
    margin:0;
  }

#quiz {
    display:flex;
    align-items: center;
    justify-content: center;
    height:50vh;
    flex-flow:wrap;
    }


h1,p {
    width:100%;
    text-align:center;
}

#submit {
    display: block;
    margin: auto;
    margin-top:20px;
}

#timer, #quizContainer {
    text-align:center;
}

#questionContainer {
    text-align:center;
    padding-bottom:60px;
}

#instructions {
    padding-bottom:30px;
}

#quizContainer {
    padding-bottom:20px;
}