html,body {
    height:100%;
    width:100%;
    margin:0;
  }

#quiz {
    display:flex;
    align-items: center;
    justify-content: center;
    height:50vh;
    flex-flow:wrap;
    }


h1,p {
    width:100%;
    text-align:center;
}

#submit {
    display: block;
    margin: auto;
}

#questionContainer {
    display:flex;
    height:300px;
}

#timer {
    text-align:center
}